.body {
    background-color: lightblue;
    color: black; 
    padding: 1rem ;
    margin-left: 10rem;
    border: 10px solid green; 
    border-radius: 5px;
}

.form {
    background-color: lightgreen;
    color: black; 
    padding: 1rem ;
    margin-left: 10rem;
    margin-right: 10rem;
    border: 10px solid green; 
    border-radius: 5px;
}

.button {
    background-color: cadetblue;
    color: azure; 
    padding: 1rem ;
    margin-left: 10rem;
    border: 10px dashed green; 
    border-radius: 5px;
}

.kamu {
    background-color: lightcoral;
    color: white; 
    padding: 1rem ;
    margin-left: 10rem;
    border: 10px solid green; 
    border-radius: 5px;
}

.input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="time"], select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}